<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties" />
	<settings>
		<!-- 카멜 케이스 VO 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="lazyLoadingEnabled" value="true"/>

	</settings>
	
	<typeAliases>
		<typeAlias alias="Users" type="com.my.todoList.user.Users"/>
		<typeAlias alias="Task" type="com.my.todoList.task.Task"/>
		<typeAlias alias="Category" type="com.my.todoList.category.Category"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />

			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper class="com.my.todoList.user.mapper.UserMapper" />
		<mapper class="com.my.todoList.task.mapper.TaskMapper" />
		<mapper class="com.my.todoList.category.mapper.CategoryMapper" />
	</mappers>
	
	
</configuration>