@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 기본 박스 모델 설정 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* 기본 바디 스타일 */
body {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
}

/* 기본 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fz30{
    font-size: 30px;
}

/* container */
.container{
    width: 700px; height: 650px;
    background-color: #F0F0F0;
    border-radius: 20px;
    margin: 150px auto;
}   

.title {
    font-family: 'PartialSansKR-Regular';
    font-size: 70px;
    color: #3361D4;
    text-align: center;
    padding: 40px 0 40px 0;
}

/* 로그인 폼 */
.loginForm, .signupForm, .taskForm {
    margin: 80px auto;
    text-align: center;
}
.loginForm > input , .signupForm input{
    display: block;
    width: 350px; height: 50px;
    border: 0px;
    border-radius: 10px;
    margin: 14px auto;
    padding-left: 10px;
}
.buttonContainer{
    margin-top: 35px;
}
/* .buttonContainer input:first-child{
    margin-right: 49px;
} */
.buttonContainer input {
    width: 175px; height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    background-color: #3361D4;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.buttonContainer input:hover{
    background-color: #204396;
}

/* 회원가입 */

.signupForm{
    margin-top: 0px;
}
.signupForm > p{
    font-size: 25px;
}

.signupForm input {
    margin: 10px auto;
}
.signupForm .buttonContainer {
    margin-top: 0px;
}
.signupForm .buttonContainer input {
    width: 350px; height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.signupForm div > p {
    width: 350px; height: 14px;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 14px;
    color: tomato;
    text-align: left;
}

/*task*/
.additionBtn{
    width: 400px; height: 40px;
    margin: 0 auto;
}
.additionBtn input{
    width: 100%; height: 100%;
    cursor: pointer;
    background-color: #3361D4;
    color: white;
    font-size: 25px;
    border: 0px;
    border-radius: 10px;
}
.additionBtn input:hover{
    background-color: #204396;
}
.taskList{
    margin-top: 20px;
}
.taskList .task{
    width: 400px; height: 50px;
    line-height: 50px;
    display: flex;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}
.task li{
   
}
.task li:first-child{
    width: 50px; height: 30px;
    line-height: 30px;
    background-color: #989898;
    border-radius: 13px;
    text-align: center;
    margin: 12px 0 0 20px;
    color: white;
}
.task li:nth-child(2){
    width: 280px;
    margin-left: 10px;
    font-size: 20px;
}
.task li:nth-child(3) {
    margin-top: 2px;
}
.task li:nth-child(3) input{
    width: 30px; height: 30px;
    line-height: 33px;
    cursor: pointer;
    color: #3361D4;
    border: 0px;
    border-radius: 50px;
    background-color: #E4E4E4;
    font-size: 23px;
}
.subContent{
    /* display: none; */
    width: 400px; height: 180px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
    max-height: 0; /* 초기 높이를 0으로 설정 */
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    transition: max-height 0.3s ease-out; /* 부드럽게 펼쳐지도록 설정 */
}
.subContent.active {
    max-height: 180px; /* 적당한 최대 높이 지정 (내용 크기에 맞게 조정 가능) */
    transition: max-height 0.3s ease-in;
}

.subContent li {
    margin-left: 20px;
}
.subContent li:first-child{
    border-top: 1px solid #ccc;
    height: 100px;
    font-size: 20px;
    margin: 0 20px;
    padding-top: 10px;
}
.subContent li:nth-child(2){
    color: #808080;
}
.subContent li:nth-child(3){
    text-align: right;
    margin-right: 20px;
}
.subContent li:nth-child(3) input {
    width: 40px; height: 25px;
    cursor: pointer;
    border: 0px; border-radius: 5px;
    background-color: #3361D4;
    color: white;
}
.subContent li:nth-child(3) input:hover{
    background-color: #204396;
}


/*task form*/
.taskForm{
    margin-top: 0px;
    width: 400px; height: 350px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

.taskForm .task {
    width: 400px; height: 50px;
    display: flex;
}
.title-container{
    width: 80%; height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
#dropdown{
    width: 55px; height: 30px;
    cursor: pointer;
    border: 0px;
    background-color: #989898;
    border-radius: 50px;
    color: white;
    appearance: none;
    padding-left: 13px; 
}
#dropdown:focus{
    border: 1px solid #989898;
}
.task-title {
    width: 200px; height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    vertical-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    margin: 10px 0 0 10px;
}
.task-title:focus{
    outline: none;
}
.content-container{
    width: 80%; height: 200px;
    margin: 20px auto 10px auto;
    border: 1px solid #ccc;
}
.task-content{
    width: 90%; height: 140px;
    font-size: 15px;
    border: 1px;
    outline: none;
    padding-top:15px;
    resize: none;
}
.date-container{
    text-align-last: left;
    margin-left: 15px;
    font-size: 12px;
}
.date-container input {
    -webkit-appearance: none;
    width: 82px; height: 30px;
    font-size: 12px;
    outline: none;
    border: none;
}
.add-btn{
    width: 80px; height: 35px;
    background-color: #3361D4;
    cursor: pointer;
    border: 0px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    margin-left: 230px;

}
.add-btn:hover{
    background: #204396;
}