<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Todo List </title>
	<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<div class="container">
			<div class="title">
				<p>Todo List</p>
			</div>
			<form class="loginForm">
				<input type="text" placeholder="아이디">
				<input type="text" placeholder="비밀번호">
				<div class="buttonContainer">
					<input type="button" value="로그인">
					<input type="button" value="회원가입" onclick="location.href='signup.html'">
				</div>
			</form>
		</div>
	</body>
</html>