<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 할 일 </title>
	<link rel="stylesheet" href="css/index.css">
    <style>
	</style>
	<script type="text/javascript">
		function toggleBtn(taskNo) {
		    // 클릭된 버튼, 해당 task, 관련된 subContent를 동적으로 찾음
		    const button = document.querySelector('#toggleBtn-'+taskNo);
		    const taskElement =  document.querySelector('.task'); // 클릭된 버튼의 상위 task 요소
		    const subContent = document.querySelector('#subContent-'+taskNo); // task의 바로 아래 subContent
			
		    // subContent 활성화/비활성화 처리
		    subContent.classList.toggle("active");
	
		    // 버튼 및 테두리 스타일 변경
		    if (subContent.classList.contains("active")) {
		        button.value = "▲"; // 버튼 텍스트 변경
		        taskElement.style.borderRadius = "10px 10px 0px 0px"; // 상단 둥글게
		    } else {
		        button.value = "▼"; // 버튼 텍스트 변경
		        taskElement.style.borderRadius = "10px"; // 전체 둥글게
		    }
		}
		function modifyBtn(taskNo){
			const taskForm = document.querySelector('#taskForm-'+taskNo);
			
			taskForm.action="/task_modify_form";
			taskForm.method="POST";
			taskForm.submit();
		}
		
		function deleteBtn(taskNo){
			const taskForm = document.querySelector('#taskForm-'+taskNo);
			
			taskForm.action="/task_delete";
			taskForm.method="POST";
			taskForm.submit();
		}
		
	</script>
	</head>
	<body>
		<div class="container">
			<div class="logout">
				<input type="button" value="로그아웃" onclick="location.href='/logout'">
			</div>
			<div class="title">
				<p>Todo List</p>
			</div>
			<div class="additionBtn">
				<input type="button" value="추가" onclick="location.href='/task_form'"/>
			</div>
			<div class="taskList" th:each="task : ${taskList}">
			    <ul class="task">
			        <li th:text="${task.categoryName}">카테고리</li>
			        <li th:text="${task.title}">제목</li>
			        <li>
						<input type="button" value="▼"  th:onclick="'toggleBtn(' + ${task.taskNo} + ')'" th:id="'toggleBtn-'+${task.taskNo}">
			        </li>
			    </ul>
			    <ul th:id="'subContent-'+${task.taskNo}" class="subContent">
			        <li th:text="${task.content}">내용</li>
			        <li>
			            <span th:text="${task.startDate}">시작일</span> ~ 
			            <span th:text="${task.endDate}">종료일</span>
			        </li>
			        <li>
			        	<form th:id="'taskForm-'+${task.taskNo}">
				            <input type="hidden" name="taskNo" th:value="${task.taskNo}">
				            <input type="button" value="수정" th:onclick="'modifyBtn('+${task.taskNo}+')'">
				            <input type="button" value="삭제" th:onclick="'deleteBtn('+${task.taskNo}+')'">
			        	</form>
			        </li>
			    </ul>
			</div>
		</div>
	</body>
</html>