<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 할 일 </title>
	<link rel="stylesheet" href="../static/css/index.css">
    <style>
	</style>
	<script type="text/javascript">
	</script>
	</head>
	<body>
		<div class="container">
			<div class="title">
				<p>Todo List</p>
			</div>
			<div class="additionBtn">
				<input type="button" value="추가" onclick=""/>
			</div>
			<div class="taskList">
				<ul class="task">	
					<li>기타</li>
					<li>종욱이 간식사기</li>
					<li><input type="button" value="▼"></li>
				</ul>
				<ul class="subContent">
					<li>베라 아이스크림 사주기</li>
					<li>2024-05-11 ~ 2024-06-11</li>
					<li>
						<input type="button" value="수정">
						<input type="button" value="삭제">
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>