<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 할 일 </title>
	<link rel="stylesheet" href="css/index.css">
    <style>
	</style>
	<script type="text/javascript">
		function toggleBtn(taskId){
			console.log(taskId)
			//const task = document.querySelector(`#task-${taskId}`);
			const subContent = document.querySelector('.subContent');
			const toggleBtn= document.querySelector('.toggleBtn');

			subContent.classList.toggle("active");
			if(subContent.classList.contains("active")){
				toggleBtn.value="▲";
				task.style.borderRadius = "10px 10px 0px 0px";
			}else{
				toggleBtn.value="▼";
				task.style.borderRadius = "10px";
			}
		}
	</script>
	</head>
	<body>
		<div class="container">
			<div class="logout">
				<input type="button" value="로그아웃" onclick="location.href='/logout'">
			</div>
			<div class="title">
				<p>Todo List</p>
			</div>
			<div class="additionBtn">
				<input type="button" value="추가" onclick=""/>
			</div>
			<div class="taskList" th:each="task:${taskList}" th:object="${task}">
				<ul class="task">	
					<li th:text="${task.categoryName}">task</li>
					<li th:text="${task.title}">종욱이 간식사기</li>
					<li><input type="button" id=`toggleBtn-${task.id}` value="▼" onclick="toggleBtn(task.id)"></li>
				</ul>
				<ul class="subContent">
					<li th:text="${task.content}">베라 아이스크림 사주기</li>
					<li> 
						<span th:text="${task.startDate}">2024-05-11</span> 
						~ 
						<span th:text="${task.endDate}">2024-06-11</span>
					</li>
					<li>
						<input type="button" value="수정">
						<input type="button" value="삭제">
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>