<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.user.mapper.UserMapper">
	<!-- 유저등록 -->
	<insert id="insertUser" parameterType="com.my.todoList.user.Users">
		<selectKey resultType="Integer" keyProperty="userNo" order="BEFORE">
			SELECT users_user_no_seq.nextval FROM DUAL;
		</selectKey>
		INSERT INTO users
		VALUES(#{userNo}, #{id}, #{password}, #{email});
	</insert>
	
	<!-- 유저 수정 -->
	<update id="updateUser" parameterType="com.my.todoList.user.Users">
		UPDATE users u
		SET u.user_id = #{id}, u.password = #{password}, u.email = #{email})
	</update>
	
	<!-- 유저 삭제 -->
	<delete id="deleteUser" parameterType="Integer">
		DELETE FROM users
		WHERE users.user_no = #{userNo}
	</delete>
	
	<!-- 특정유저 출력 -->
	<select id="selectUserByNo" parameterType="Integer" resultType="com.my.todoList.user.Users">
		SELECT u.user_no, u.id, u.password, u.email, t.title, t.content, t.startDate, t.EndDate, t.state, c.name 
			FROM users u 
			JOIN task t
			ON u.user_no = t.user_no
			JOIN category c
			ON t.category_no = c.category_no
			WHERE u.user_no = #{userNo};
	</select>
</mapper>