<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.todoList.user.mapper.UserMapper">
	<resultMap id="userMap" type="com.my.todoList.user.Users">
		<id column="user_no" property="userNo"/>
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		
		 <!-- userrole 컬렉션 매핑 -->
		<association property="userrole" javaType="com.my.todoList.role.UserRole"
		resultMap="com.my.todoList.role.mapper.RoleMapper.userRoleMap"></association>
			
		 <!-- Task 컬렉션 매핑 -->
		<collection property="taskList" javaType="java.util.List"
		ofType="com.my.todoList.task.Task"
		resultMap="com.my.todoList.task.mapper.TaskMapper.taskMap"/>
		
		
	</resultMap>

	<!-- 유저등록 -->
	<insert id="insert" parameterType="com.my.todoList.user.Users">
		<selectKey resultType="Integer" keyProperty="userNo" order="BEFORE">
			SELECT users_user_no_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO users
		VALUES(#{userNo}, #{id}, #{password}, #{email})
	</insert>
	
	<!-- 유저 수정 -->
	<update id="update" parameterType="com.my.todoList.user.Users">
		UPDATE users
		SET id = #{id}, password = #{password}, email = #{email}
		WHERE user_no = #{userNo}
	</update>
	
	<!-- 유저 삭제 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM users
		WHERE user_no = #{userNo}
	</delete>
	
	<!-- 특정유저 회원정보 출력 -->
	<select id="selectUserByNo" parameterType="Integer" resultMap="userMap">
		SELECT u.user_no, u.id, u.password, u.email, r.name
			FROM users u 
            JOIN user_roles ur
            ON u.user_no = ur. user_no
            JOIN roles r
            ON ur.role_no = r.role_no
			WHERE u.user_no = #{userNo}
	</select>
	
		<!-- 유저 아이디로 회원정보 출력 -->
	<select id="selectUserById" parameterType="String" resultType="com.my.todoList.user.Users">
		SELECT u.user_no, u.id, u.password, u.email 
			FROM users u 
			WHERE u.id = #{id}
	</select>
</mapper>