<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.todoList.task.mapper.TaskMapper">
	
	<resultMap id="taskMap" type="com.my.todoList.task.Task">
		<id column="task_no" property="taskNo"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="startdate" property="startDate"/>
		<result column="enddate" property="endDate"/>
		<result column="state" property="state"/>
			
	    <!-- Users 객체를 매핑 -->
	    <association property="users" javaType="com.my.todoList.user.Users" 
	    resultMap="com.my.todoList.user.mapper.UserMapper.userMap"/>
	    
	    <!-- Category 객체를 매핑 -->
	    <association property="category" javaType="com.my.todoList.category.Category" 
	    resultMap="com.my.todoList.category.mapper.CategoryMapper.categoryMap"/>
	    
	</resultMap>
	 
	<!-- 할일등록 -->
	<insert id="insert" parameterType="com.my.todoList.task.Task">
		<selectKey resultType="Integer" keyProperty="taskNo" order="BEFORE">
			SELECT task_task_no_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO task(task_no, title, content, startDate, endDate, state, user_no, category_no)
		VALUES(#{taskNo},#{title},#{content},#{startDate}, #{endDate},'active',#{users.userNo},#{category.categoryNo})

	</insert>
	
	<!-- 할일 수정 -->
	<update id="update" parameterType="com.my.todoList.task.Task">
		UPDATE task
		SET title = #{title}, content =#{content}, startDate=#{startDate}, endDate=#{endDate},state=#{state}, category_no =#{category.categoryNo}
		WHERE task_no = #{taskNo}
	</update>
	
	<!-- 유저 삭제 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM task
		WHERE task_no = #{taskNo}
	</delete>
	
	<!-- 특정 할일 1개 출력-->
	<select id="selectByTaskNo" parameterType="Integer" resultMap="taskMap">
		SELECT t.task_no, t.title, t.content, t.startdate, t.enddate, t.state, c.category_no, c.name
		FROM task t
		JOIN category c
		ON t.category_no = c.category_no 
		WHERE t.task_no = #{taskNo}
	</select>
	
	<!-- 특정유저 할일 전체 출력-->
	<select id="selectByUserNo" parameterType="Integer" resultMap="taskMap">
		SELECT t.task_no, t.title, t.content, t.startdate, t.enddate, t.state, u.user_no, c.category_no, c.name
		FROM task t
		JOIN users u
		ON t.user_no = u.user_no
		JOIN category c
		ON t.category_no = c.category_no
		WHERE u.user_no=#{userNo}
	</select>
	
</mapper>